%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
%ul-nobullet {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

%txt-classic {
  color: snow;
  font-size: 20px;
}
