@import "./_variables";
@import "./_mixins";
@import "./_placeholders";


#root,
html, body{
  height:100%;
}
.body {
  background-color: $fond-scrolller;
  height:100%;
}

.menu {
  position: absolute;
  z-index: 2;
}

.central-component{
  background-color: $fond-scrolller;
}