@import "./_variables";
@import "./_mixins";
@import "./_placeholders";

.center-forgot-password {
  @extend %flex-center;
}

.forgot-password-container {
  display: flex;
  background-color: #fafafa;
  border-radius: 5%;
  border: solid;
  border-color: red;
  width: 50%;
}
