@import "./_variables";
@import "./_mixins";
@import "./_placeholders";

.forgot-password-container {
  display: flex;
  background-color: snow;
  border-radius: 5%;
  border: solid;
  border-color: red;
  width: 50%;
}
