@import "./_variables";
@import "./_mixins";
@import "./_placeholders";

.form-forgotpassword {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.forgot-email,
.forgot-already,
.forgot-signup {
  @extend %txt-classic;
}
