@import "./_variables";
@import "./_mixins";
@import "./_placeholders";

.manga-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}
