@import "./_variables";
@import "./_mixins";
@import "./_placeholders";

.item-grid {
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.likedlist-btn {
  display: flex;
  justify-content: space-around;
}
.manga-label,
.anime-label {
  @extend %flex-center;
  @extend %txt-classic;
  gap: 1rem;
}
.anime-toggle,
.manga-toggle {
  color: #fafafa;
}
