@import "./_variables";
@import "./_mixins";
@import "./_placeholders";

.list {
  display: grid;
  background-color: $fond-scrolller;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 0.4rem;
  padding: 20px;
}
