@import "./_variables";
@import "./_mixins";
@import "./_placeholders";

.center {
  @extend %flex-center;
}
.login-container {
  background-color: #fafafa;
  border-radius: 5%;
  border: solid;
  border-color: #dd2c00;
  width: 50%;
}
