@import "./_variables";
@import "./_mixins";
@import "./_placeholders";

.search-bar {
  color: snow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-select {
  &:hover {
    box-shadow: 2px 2px 2px snow;
  }
}
