@import "./_variables";
@import "./_mixins";
@import "./_placeholders";

.mangaprofile-ul {
  @extend %flex-center;
  flex-direction: column;
  @extend %ul-nobullet;
  color: white;
}
.profile-liked {
  color: pink;
}

.mangaprofile-myreview {
  @extend %txt-classic;
  background-color: rebeccapurple;
}
