@import "./_variables";
@import "./_mixins";
@import "./_placeholders";

.nav-home,
.nav-search,
.nav-mycollection,
.nav-movie,
.nav-seasonal,
.nav-genre,
.nav-about {
  @extend %flex-center;
  color: snow;
  &:hover {
    color: red;
    background-color: snow;
  }
}

.welcome-menu {
  color: snow;
}

.current {
  background-color: gray;
}
