@import "./_variables";
@import "./_mixins";
@import "./_placeholders";

.nav-body {
  @extend %flex-center;
  justify-content: flex-end;
  margin-right: 20px;
}

.nav-login,
.nav-signup {
  text-decoration: none;
}

.nav-login-txt,
.nav-signup-txt {
  color: #fafafa;
  font-size: 15px;
  margin: 5px;
  &:hover {
    text-decoration: underline;
  }
}
