@import "./_variables";
@import "./_mixins";
@import "./_placeholders";

.nav-list{
    display:flex;
    background-color: aquamarine;
    align-items: center;
}




.current{
    background-color:blueviolet;
    
}