@import "./_variables";
@import "./_mixins";
@import "./_placeholders";

.nav-body {
  @extend %flex-center;
  justify-content: space-around;
}

.nav-login,
.nav-signup {
  text-decoration: none;
}

.nav-login-txt,
.nav-signup-txt {
  color: snow;
  &:hover {
    color: black;
    background-color: snow;
  }
}
