@import "./_variables";
@import "./_mixins";
@import "./_placeholders";


.center-signup {
  @extend %flex-center;
}
.signup-container {
  background-color: #fafafa;
  border-radius: 5%;
  border: solid;
  border-color: #dd2c00;

  width: 50%;
}
