.mangacard{
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: .25rem;
    position: relative;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.3);
    background-color: white;
    transform-style: preserve-3d;
    transition: 150ms;
    cursor:pointer;

}


.mangacard:hover{
    --translate-y: -2px;
    box-shadow: 0 0 5px 2px rgba(0,0,0, .5);
}

.mangacard .front{
    backface-visibility: hidden;
    padding: 1rem;
}




.mangacard .front{
    left:0;
}


.btn-behind-mangacard{
    background-color: hsl(200,100%,50%);
    color:white;
    padding: .5em 1em;
    border-radius: .3em;
    border: none;
    cursor: pointer;
}

.btn-behind-mangacard:hover{
    background-color: hsl(200,100%,40%);
}

.body-mangacard{
    position:relative;
}
.seeMoreModal{

    color:purple;
}