.upcominglist-container{
    display:flex;
    position: relative;
    background-color: blue;
}
.upcominglist{
    display:grid;
    align-items:center;
    grid-template-columns:  repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    background-color: black;
}
.upcomingcard{
    background-color: yellow;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: .25rem;
    position: relative;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.3);
    background-color: white;
    cursor:pointer;
}
.upcomingcard-container{
    position: relative;
}